{% load i18n %}
{% load money %}
{% load bootstrap3 %}

<div class="stripe-container">
    <div class="stripe-errors sr-only">

    </div>
    <noscript>
        <div class="alert alert-warning">
            {% trans "For a credit card payment, please turn on JavaScript." %}
        </div>
    </noscript>

    <div class="stripe-reluctant-warning">
        <p class="larger">
            {% blocktrans trimmed with fee=fee|money:event.currency %}
                If you pay this transaction by card, approx. <strong>{{ fee }}</strong> goes to the credit card
                companies instead of us.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Normally, this would force us to increase the ticket prices further for everyone. We'd rather
                keep ticket prices low, so we ask you to <strong>reconsider paying by SEPA transfer</strong>.
            {% endblocktrans %}
        </p>
        <p>
            <button class="stripe-reluctant-okay btn btn-success">
                {% trans "Let's do a bank transfer, then" %}
            </button>
        </p>
        <p>
            {% blocktrans trimmed %}
                If you really need to pay by card, we'd be very happy if you voluntarily take over
                the credit card processing fees.
            {% endblocktrans %}
        </p>
        <div class="stripe-reluctant-choice">
            {% bootstrap_field form.pay_fees layout='inline' form_group_class='' field_class='helper-display-block' label_class='sr-only' %}
        </div>
        <p>
            <button class="stripe-reluctant-ignore btn btn-primary" disabled>
                {% trans "Continue with card payment" %}
            </button>
        </p>
    </div>
    <div class="form-horizontal stripe-reluctant-body">

        {% if request.session.payment_stripe_token %}
            <div id="stripe-current-card">
                <p>{% blocktrans trimmed %}
                    You already entered a card number that we will use to charge the payment amount.
                {% endblocktrans %}</p>
                <dl class="dl-horizontal">
                    <dt>{% trans "Card type" %}</dt>
                    <dd id="stripe_card_brand_display">{{ request.session.payment_stripe_brand }}</dd>
                    <dt>{% trans "Card number" %}</dt>
                    <dd>
                        **** **** ****
                        <span id="stripe_card_last4_display">{{ request.session.payment_stripe_last4 }}</span>
                        <button class="btn btn-xs btn-default" id="stripe_other_card" type="button">
                            {% trans "Use a different card" %}
                        </button>
                    </dd>
                </dl>
            </div>
        {% endif %}

        <div id="stripe-card" class="form-control">
            <span class="fa fa-spinner fa-spin"></span>
            <!-- a Stripe Element will be inserted here. -->
        </div>
        <p class="help-block">
            {% blocktrans trimmed %}
                Your payment will be processed by Stripe, Inc. Your credit card data will be transmitted directly to
                Stripe and never touches our servers.
            {% endblocktrans %}
            <input type="hidden" name="stripe_total" value="{{ total }}" id="stripe_total"/>
            <input type="hidden" name="stripe_payment_method_id" value="{{ request.session.payment_stripe_payment_method_id }}" id="stripe_payment_method_id"/>
            <input type="hidden" name="stripe_card_last4" value="{{ request.session.payment_stripe_last4 }}"
                   id="stripe_card_last4"/>
            <input type="hidden" name="stripe_card_brand" value="{{ request.session.payment_stripe_brand }}"
                   id="stripe_card_brand"/>
            <input type="hidden" id="stripe_currency" value="{{ event.currency }}"/>
        </p>
    </div>
</div>

